@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant light (&:is(.light *));

@theme {
  --font-poppins: var(--font-poppins);

  --animate-accordion-down: kf-accordion-down var(--tw-duration, 200ms) var(--tw-ease, ease-out);
  --animate-accordion-up: kf-accordion-up var(--tw-duration, 200ms) var(--tw-ease, ease-out);
  --animate-enter: kf-enter var(--tw-duration, 150ms) forwards var(--tw-ease, ease-in-out);
  --animate-enter-exit: kf-enter-exit var(--tw-duration, 150ms) forwards var(--tw-ease, ease-in-out);
  --animate-enter-delayed-exit: kf-enter-delayed-exit var(--tw-duration, 2s) var(--tw-ease, ease-in-out);

  @keyframes kf-accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes kf-accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes kf-enter {
    from {
      opacity: var(--from-opacity, 1);
      scale: var(--from-scale, 1);
      transform: translate(var(--from-translate-x, 0), var(--from-translate-y, 0));
    }
    to {
      opacity: var(--to-opacity, 1);
      scale: var(--to-scale, 1);
      transform: translate(var(--to-translate-x, 0), var(--to-translate-y, 0));
    }
  }

  @keyframes kf-enter-exit {
    0% {
      opacity: var(--from-opacity, 1);
      scale: var(--from-scale, 1);
      transform: translate(var(--from-translate-x, 0), var(--from-translate-y, 0));
    }
    50% {
      opacity: var(--via-opacity, --to-opacity, 1);
      scale: var(--via-scale, --to-scale, 1);
      transform: translate(var(--via-translate-x, --to-translate-x, 0), var(--via-translate-y, --to-translate-y, 0));
    }
    100% {
      opacity: var(--to-opacity, 1);
      scale: var(--to-scale, 1);
      transform: translate(var(--to-translate-x, 0), var(--to-translate-y, 0));
    }
  }

  @keyframes kf-enter-delayed-exit {
    0% {
      opacity: var(--from-opacity, 1);
      scale: var(--from-scale, 1);
      transform: translate(var(--from-translate-x, 0), var(--from-translate-y, 0));
    }
    35% {
      opacity: var(--via-opacity, --to-opacity, 1);
      scale: var(--via-scale, --to-scale, 1);
      transform: translate(var(--via-translate-x, --to-translate-x, 0), var(--via-translate-y, --to-translate-y, 0));
    }
    65% {
      opacity: var(--via-opacity, --to-opacity, 1);
      scale: var(--via-scale, --to-scale, 1);
      transform: translate(var(--via-translate-x, --to-translate-x, 0), var(--via-translate-y, --to-translate-y, 0));
    }
    100% {
      opacity: var(--to-opacity, 1);
      scale: var(--to-scale, 1);
      transform: translate(var(--to-translate-x, 0), var(--to-translate-y, 0));
    }
  }
}

:root {
  --background: hsl(0 0% 3.9%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(0 0% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(0 0% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 9%);
  --secondary: hsl(0 0% 14.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 14.9%);
  --muted-foreground: hsl(0 0% 63.9%);
  --accent: hsl(0 0% 14.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 14.9%);
  --input: hsl(0 0% 14.9%);
  --ring: hsl(0 0% 83.1%);

  --chart-1: hsl(359 2% 90%);
  --chart-2: hsl(240 1% 74%);
  --chart-3: hsl(240 1% 58%);
  --chart-4: hsl(240 1% 42%);
  --chart-5: hsl(240 2% 26%);

  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(0 0% 98%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --radius: 0.6rem;
  --sidebar-width-mobile: 21rem;
  --sidebar-width: 19rem;
  --sidebar-width-icon: 3rem;
  --header-height: 3rem;

  --hljs-color-0: #f8f8f2;
  --hljs-color-1: #6272a4;
  --hljs-color-2: #44475a;
  --hljs-color-3: #ff79c6;
  --hljs-color-4: #ff5555;
  --hljs-color-5: #f1fa8c;
  --hljs-color-6: #50fa7b;
  --hljs-color-7: #8be9fd;
  --hljs-color-8: #bd93f9;
}

.light {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 3.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 3.9%);
  --primary: hsl(0 0% 9%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(0 0% 96.1%);
  --secondary-foreground: hsl(0 0% 9%);
  --muted: hsl(0 0% 96.1%);
  --muted-foreground: hsl(0 0% 45.1%);
  --accent: hsl(0 0% 96.1%);
  --accent-foreground: hsl(0 0% 9%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 89.8%);
  --input: hsl(0 0% 89.8%);
  --ring: hsl(0 0% 3.9%);

  --chart-1: hsl(359 2% 90%);
  --chart-2: hsl(240 1% 74%);
  --chart-3: hsl(240 1% 58%);
  --chart-4: hsl(240 1% 42%);
  --chart-5: hsl(240 2% 26%);

  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(0 0% 3.9%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --hljs-color-0: #444;
  --hljs-color-1: #697070;
  --hljs-color-2: #444a;
  --hljs-color-3: #880000;
  --hljs-color-4: #ab5656;
  --hljs-color-5: #695;
  --hljs-color-6: #397300;
  --hljs-color-7: #1f7199;
  --hljs-color-8: #38a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --sidebar-width-mobile: var(--sidebar-width-mobile);
  --sidebar-width: var(--sidebar-width);
  --sidebar-width-icon: var(--sidebar-width-icon);
  --header-height: var(--header-height);

  --color-hljs-color-0: var(--hljs-color-0);
  --color-hljs-color-1: var(--hljs-color-1);
  --color-hljs-color-2: var(--hljs-color-2);
  --color-hljs-color-3: var(--hljs-color-3);
  --color-hljs-color-4: var(--hljs-color-4);
  --color-hljs-color-5: var(--hljs-color-5);
  --color-hljs-color-6: var(--hljs-color-6);
  --color-hljs-color-7: var(--hljs-color-7);
  --color-hljs-color-8: var(--hljs-color-8);
}

@layer base {
  * {
    @apply border-border outline-ring/50 scrollbar-expand;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* HLJS classnames */
  .hljs {
    @apply text-hljs-color-0;
  }
  /* Base color: saturation 0; */
  .hljs-comment {
    @apply text-hljs-color-1;
  }
  .hljs-tag,
  .hljs-punctuation {
    @apply text-hljs-color-2;
  }
  .hljs-tag .hljs-name,
  .hljs-tag .hljs-attr {
    @apply text-hljs-color-0;
  }
  .hljs-keyword,
  .hljs-attribute,
  .hljs-selector-tag,
  .hljs-meta .hljs-keyword,
  .hljs-doctag,
  .hljs-name {
    @apply font-bold;
  }
  /* User color: hue: 0 */
  .hljs-type,
  .hljs-string,
  .hljs-number,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-quote,
  .hljs-template-tag,
  .hljs-deletion {
    @apply text-hljs-color-3;
  }
  .hljs-title,
  .hljs-section {
    @apply text-hljs-color-3 font-bold;
  }
  .hljs-regexp,
  .hljs-symbol,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-link,
  .hljs-selector-attr,
  .hljs-operator,
  .hljs-selector-pseudo {
    @apply text-hljs-color-4;
  }
  /* Language color: hue: 90; */
  .hljs-literal {
    @apply text-hljs-color-5;
  }
  .hljs-built_in,
  .hljs-bullet,
  .hljs-code,
  .hljs-addition {
    @apply text-hljs-color-6;
  }
  /* Meta color: hue: 200 */
  .hljs-meta {
    @apply text-hljs-color-7;
  }
  .hljs-meta .hljs-string {
    @apply text-hljs-color-8;
  }
  /* Misc effects */
  .hljs-emphasis {
    @apply italic;
  }
  .hljs-strong {
    @apply font-bold;
  }
}

/* Scrollbar */
@utility scrollbar-expand {
  &::-webkit-scrollbar {
    @apply size-1 transition-colors;
  }
  &::-webkit-scrollbar-track {
    @apply hidden;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-muted/20 size-1 rounded-xl ;
  }
  &:hover::-webkit-scrollbar-thumb {
    @apply bg-muted/80 size-2;
  }
}
@utility scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    @apply hidden w-0;
  }
}

/* animation opacity */
@utility animation-from-opacity-* {
  --from-opacity: --value(--opacity- *, [percentage]);
  --from-opacity: calc(--value(integer) * 1%);
  opacity: var(--from-opacity);
}

@utility animation-via-opacity-* {
  --via-opacity: --value(--opacity- *, [percentage]);
  --via-opacity: calc(--value(integer) * 1%);
}

@utility animation-to-opacity-* {
  --to-opacity: --value(--opacity- *, [percentage]);
  --to-opacity: calc(--value(integer) * 1%);
}

/* animation scale */

@utility animation-from-scale-* {
  --from-scale: --value([length]);
  --from-scale: calc(--value(integer) / 100);
  scale: var(--from-scale);
}

@utility -animation-from-scale-* {
  --from-scale: calc(--value([length]) * -1);
  --from-scale: calc(--value(integer) * -1 / 100);
  scale: var(--from-scale);
}

@utility animation-via-scale-* {
  --via-scale: --value([length]);
  --via-scale: calc(--value(integer) / 100);
}

@utility -animation-via-scale-* {
  --via-scale: calc(--value([length]) * -1);
  --via-scale: calc(--value(integer) * -1 / 100);
}

@utility animation-to-scale-* {
  --to-scale: --value([length]);
  --to-scale: calc(--value(integer) / 100);
}

@utility -animation-to-scale-* {
  --to-scale: calc(--value([length]) * -1);
  --to-scale: calc(--value(integer) * -1 / 100);
}

/* animation translate y */

@utility animation-from-translate-y-* {
  --from-translate-y: calc(var(--spacing) * --value(integer, [percentage], [length]));
  transform: translate(var(--from-translate-x), var(--from-translate-y));
}

@utility -animation-from-translate-y-* {
  --from-translate-y: calc(var(--spacing) * --value(integer, [percentage], [length]) * -1);
  transform: translate(var(--from-translate-x), var(--from-translate-y));
}

@utility animation-via-translate-y-* {
  --via-translate-y: calc(var(--spacing) * --value(integer, [percentage], [length]));
}

@utility -animation-via-translate-y-* {
  --via-translate-y: calc(var(--spacing) * --value(integer, [percentage], [length]) * -1);
}

@utility animation-to-translate-y-* {
  --to-translate-y: calc(var(--spacing) * --value(integer, [percentage], [length]));
}

@utility -animation-to-translate-y-* {
  --to-translate-y: calc(var(--spacing) * --value(integer, [percentage], [length]) * -1);
}

/* animation translate x */

@utility animation-from-translate-x-* {
  --from-translate-x: calc(var(--spacing) * --value(integer, [percentage], [length]));
  transform: translate(var(--from-translate-x), var(--from-translate-y));
}

@utility -animation-from-translate-x-* {
  --from-translate-x: calc(var(--spacing) * --value(integer, [percentage], [length]) * -1);
  transform: translate(var(--from-translate-x), var(--from-translate-y));
}

@utility animation-via-translate-x-* {
  --via-translate-x: calc(var(--spacing) * --value(integer, [percentage], [length]));
}

@utility -animation-via-translate-x-* {
  --via-translate-x: calc(var(--spacing) * --value(integer, [percentage], [length]) * -1);
}

@utility animation-to-translate-x-* {
  --to-translate-x: calc(var(--spacing) * --value(integer, [percentage], [length]));
}

@utility -animation-to-translate-x-* {
  --to-translate-x: calc(var(--spacing) * --value(integer, [percentage], [length]) * -1);
}
